<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>link</string>
  <key>uuid</key>
  <string>B3D5A6C1-4E2F-4A8D-9B1C-7F3E2D5A6B4C</string>
</dict>
</plist>
